<a href="https://colab.research.google.com/github/hemang03/pandas_toturial/blob/master/pandas_tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('/content/survey_results_public.csv')

In [13]:
df.shape

(2370, 154)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2370 entries, 0 to 2369
Columns: 154 entries, Respondent to ExpectedSalary
dtypes: float64(6), int64(1), object(147)
memory usage: 2.8+ MB

In [15]:
pd.set_option('display.max_columns' , 32)

In [31]:
schema_df = pd.read_csv('/content/survey_results_schema.csv')

In [32]:
pd.set_option('display.max_columns' , 85)

In [33]:
schema_df

                   Column                                           Question
0              Respondent                               Respondent ID number
1            Professional         Which of the following best describes you?
2            ProgramHobby  Do you program as a hobby or contribute to ope...
3                 Country            In which country do you currently live?
4              University  Are you currently enrolled in a formal, degree...
..                    ...                                                ...
149  QuestionsInteresting                     The questions were interesting
150    QuestionsConfusing                       The questions were confusing
151     InterestedAnswers  I'm interested in learning how other developer...
152                Salary  What is your current annual base salary, befor...
153        ExpectedSalary  You said before that you are currently learnin...

[154 rows x 2 columns]

In [35]:
pd.set_option('display.max_rows' , 85)